Repository LOVDnl/LOVD3, pull requests merged in 2021-10, with the labels that each got.

#558 Gb/disable
  src/genome_builds.php
Labels: cat: interface, cat: website, cat: genome builds

#559 Percentage complete
  src/class/object_genome_builds.php
  src/class/object_genome_variants.php
Labels: cat: interface, feature request, cat: genome builds

#561 Gb/source variant
  src/inc-init.php
  src/inc-js-variants.php
  src/inc-upgrade.php
  src/install/inc-sql-tables.php
  src/variants.php
Labels: cat: genome builds

#563 Add links to the genome build feature from the Setup area.
  src/gfx/lovd_genome_builds.png
  src/gfx/lovd_genome_builds_add.png
  src/setup.php
Labels: cat: interface, cat: genome builds
