Repository LOVDnl/LOVD3, pull requests merged in 2022-09, with the labels that each got.

#587 Feat/check hgvs tool
  LICENSE
  src/ajax/check_HGVS.php
  src/ajax/check_hgvs.php
  src/class/api.ga4gh.php
  src/class/api.php
  src/class/api.submissions.php
  src/class/objects.php
  src/class/variant_validator.php
  src/inc-init.php
  src/inc-js-toggle-visibility.js
  src/inc-js-variants.php
  src/inc-lib-init.php
  src/inc-lib-variants.php
  src/scripts/check_HGVS.php
  src/scripts/fix_variant_descriptions.php
  tests/selenium_tests/RefreshingWebDriverElement.php
  tests/selenium_tests/phpunit.xml
  tests/selenium_tests/shared_tests/check_HGVS_interface.php
  tests/unit_tests/FixHGVS.php
  tests/unit_tests/GetVariantInfoTest.php
Labels: cat: interface, feature request, cat: website

#613 Fix the HGVS validation interface
  src/ajax/check_HGVS.php
  src/class/variant_validator.php
  src/scripts/check_HGVS.php
  tests/selenium_tests/shared_tests/check_HGVS_interface.php
  tests/test_data_files/AdminTestSuiteResult.txt
Labels: bug trivial, cat: Variant Validator integration, cat: scripts

#614 Fix various issues.
  .gitignore
  src/2Do.txt
  src/class/variant_validator.php
  src/inc-lib-init.php
  src/inc-lib-variants.php
  src/scripts/check_HGVS.php
  tests/travis/setup/setup_selenium_server.sh
  tests/unit_tests/FixHGVS.php
  tests/unit_tests/GetVariantInfoTest.php
Labels: bug minor, cat: tests, cat: Variant Validator integration, cat: scripts
